body {
  font-family: Verdana;
  text-align: center;
  color: white;
  background-color: black;
}
.main-title {
  font-size: 50px;
  font-weight: normal;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}
